<div *ngIf="employee">

    <form #employeeForm="ngForm">
        <div *ngIf="employee.id"><label>id: </label>{{employee.id}}</div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="employee.name" placeholder="name" ngControl="name" #name="ngForm" required
                   minlength="3">
        </div>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name has to be at least 3 characters
        </div>
        <div>
            <label>age: </label>
            <input [(ngModel)]="employee.age" type="number" placeholder="age" ngControl="age" #age="ngForm" required
                   min="18">
        </div>
        <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
            Our employees has to be at least 18
        </div>
        <div>
            <label>salary: </label>
            <input [(ngModel)]="employee.salary" type="number" placeholder="salary" ngControl="salary" #salary="ngForm" required>
        </div>
        <div>
            <label>city: </label>
            <select required [(ngModel)]="employee.city">
                <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
            </select>
        </div>

        <button (click)="goBack()">Back</button>
        <button (click)="save()" [disabled]="!employeeForm.form.valid">Save</button>
    </form>
</div>