<md-toolbar>Our employees</md-toolbar>

<button (click)="addEmployee()">Add New employee</button>
<div *ngIf="selectedEmployee">
    <h2>
        {{selectedEmployee.name | uppercase}} is my employee
    </h2>
    <button (click)="gotoDetail(selectedEmployee)">View Details</button>
</div>
<md-dialog #alert>
    Clicking the button will close this dialog
    <md-dialog-actions ok="Got It"></md-dialog-actions>
</md-dialog>

<button md-button (click)="alert.show()">Open Dialog</button>

<input type="text" [ngFormControl]="term"/>

<div>
<md-data-table layout-fill>
    <thead>
    <tr>
        <th>ID</th>
        <th class="md-text-cell">Name</th>
        <th class="md-text-cell">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees$ | async">
        <td>{{ employee.id }}</td>
        <td class="md-text-cell">{{ employee.name }}</td>
        <td class="md-text-cell">{{ employee.age }}</td>
    </tr>
    </tbody>
</md-data-table>
</div>