<div layout="column" class="main">
    <md-sidenav-layout>
        <md-sidenav #left [opened]="true" mode="side"
                    class="side-nav">
            <md-toolbar>{{ title }}</md-toolbar>

            <md-list>
                <md-list-item>
                    <md-button [routerLink]="['/']">Dashboard</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button [routerLink]="['/employees']">Employees</md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content layout-padding>
            <router-outlet></router-outlet>
        </md-content>
    </md-sidenav-layout>
</div>